*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    background-color: wheat;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.boxes{
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.box{
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 120px;
    border: 2px solid;
}